// COLORES
$blanco: #ffffff;
$negro: #000000;
$rosa: #ff88fe;
$rosa-suave: #fe40cf;
$naranja: #ff5500;
$lima: #eafd6f;

// TIPOGRAFÍA
$font-main: 'Montserrat', sans-serif;
$space-xs: .5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;