@use '../abstracts/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: v.$blanco;
  color: v.$negro;
  line-height: 1.6;
}
