@use '../abstracts/variables' as v;

/* ===============================
   PORTFOLIO
================================ */

.portfolio-page {
  padding: 5rem 0;

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
}

/* GRID */
.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  max-width: 1200px;   // 
  margin: 0 auto;      // 
  padding: 0 1.5rem;   // 
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* TABLET */
@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

