@use 'abstracts/variables';

@use 'base/base';

@use 'layout/header';
@use 'layout/footer';

@use 'pages/home';
@use 'pages/servicios';
@use 'pages/portfolio';
@use 'pages/shop';
@use 'pages/producto';
@use 'pages/contact';
